.leftside{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
   /*
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;    
    flex-grow:0;
    */
}

.rightside{
   /*
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;    
    */
    align-self: flex-start;
}

.main_books{
    display:flex;
    justify-content: space-around;
}

.super_main_books{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.new-book-price{
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); }
