
.nav_title{
    display-inline: block;
    font-family:IBM Plex Mono, monospace;
    vertical-align:top;
    margin:0%;
}
.main{
    background: rgba(192, 192, 192, 0.3);
}

.containerTo {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    font-family:IBM Plex Mono, monospace;
}
.loading{
    display: flex;
    justify-content: center;
}
.loading-git{
}

h1.error {
    color: red;
    font-size: 12px;
    text-align: center;
}
