
.nav_title{
    display-inline: block;
    font-family:IBM Plex Mono, monospace;
    vertical-align:top;
    margin:0%;
}
.main{
    background: rgba(192, 192, 192, 0.3);
    margin:auto;
    width: 70%;
    text-align: center;
}

.containerTo {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
 @media (max-width: 400px) {
   .containerTo {
       display: block;
       width: 100%;
   }
   .super_homepage_container{
       display: block;
       width: 100%;
   }
   .main{
       width: 90%;
   }
 }

.super_homepage_container {
    display:flex;
    flex-direction: column;
    margin: auto;
}

h1{
    font-family:IBM Plex Mono, monospace;
    text-align: center;
}
.loading{
    display: flex;
    justify-content: center;
}
.loading-git{
}

h1.error {
    color: red;
    font-size: 12px;
    text-align: center;
}
