.main_admin {
    display: flex;
    justify-content: center;
}
.logged_in_admin {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

.loginform {
    display: flex;
    flex-direction: column;
    padding:25px 50px 75px 100px;
}
