.container {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardTest {
    flex: 1;
    flex-basis: 20em;
    border-radius: 5px;
    background-color: white;
    margin: 25px 20px 20px;
    min-width: 100px;
    box-shadow: 5px 10px 10px grey;
}
.cardTest:hover{
    opacity: 0.85;
}

.titleTest {
    text-align: center;
    font-family: IBM Plex Mono, monospace;
    font-size: x-large;

}

.textTest {
   max-height: 10em;
   overflow: auto;
   font-family: IBM Plex Mono, monospace;

}
.imageContainer {
    display: flex;
    flex: 1;
    justify-content: center;
}

img {
    width:300px;
    height: auto;
}

@media (max-width: 400px) {

  .container {

    display: block;

  }

}
