
.cardTest {
    flex: 1;
    flex-basis: 20em;
    border-radius: 5px;
    background-color: white;
    margin: 25px 20px 20px;
    min-width: 100px;
    box-shadow: 5px 10px 10px grey;
}
.cardTest:hover{
    opacity: 0.85;
}

.titleTest {
    text-align: center;
    font-family: IBM Plex Mono, monospace;
    font-size: x-large;
    margin: 20px 0px 0px 0px;
}
@media (max-width: 400px) {
    .titleTest {
        font-size: medium
    }
}
.subtitle {
    text-align: center;
    font-family: IBM Plex Mono, monospace;
    font-size: medium;
    font-color: grey;
    margin: 0;
}
hr {
    border:0;
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.textTest {
   max-height: 10em;
   #text-align: center;
   overflow: auto;
   font-family: IBM Plex Mono, monospace;
   width: 80%;
   margin: auto;
}
.imageContainer {
    display: flex;
    flex: 1;
    justify-content: center;
}

img {
    width:300px;
    height: auto;
}
